<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<header>
    <div class="header">
        <h1>Ari 커뮤니티</h1>
        
        <div class="profile-container">
            <div id="profile-icon" class="user-profile"></div>

            <div id="profile-menu">
                <ul>
                    <li><a href="update-user.html">회원정보 수정</a></li>
                    <li><a href="update-password.html">비밀번호 수정</a></li>
                    <li><a href="#">로그아웃</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
</body>
</html>