<header>
    <div class="header-container">
        
        <div class="header-left">
            <button id="back-button" class="back-button">&lt;</button>
        </div>

        <div class="header-center">
            <h2 class="header-title">Ari 커뮤니티</h2>
        </div>

        <div class="header-right">
            <div id="profile-container" class="profile-container">
                <div id="profile-icon" class="user-profile">
                    </div>

                <div id="profile-menu" class="dropdown-menu">
                    <ul>
                        <li><a href="UserUpdatePage.html">회원정보 수정</a></li>
                        <li><a href="PasswordUpdatePage.html">비밀번호 수정</a></li>
                        <li><a href="#" id="logout-button">로그아웃</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</header>